<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      <h3>Email Parser Demo</h3>
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>

  </header>
  <main class="mdl-layout__content">
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield" style="width:100%;">
        <input class="mdl-textfield__input" type="text" id="options">
        <label class="mdl-textfield__label" for="sample1">Filter:</label>
      </div>
    </form>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--7-col js-list">
        <ul class="demo-list-three js-list mdl-list">
          {{#each messages}}
          <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
              <img class="mdl-list__item-avatar" src="{{from.avatar}}">
              <span>{{from.name}}</span>
              <small>{{from.email}}</small>
              <small style="margin-left:5px; font-style:italic">{{date}}</small>
              <span class="mdl-list__item-text-body">
                {{subject}}
              </span>
            </span>
            <span class="mdl-list__item-secondary-content">
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons" data-id="{{message_id}}">check_circle</i></a>
            </span>
          </li>
          {{/each}}
        </ul>

      </div>









      <div class="mdl-cell mdl-cell--5-col js-message">

      <span class="panel-help"> Click on a message to view it's content </span>

      </div>

      <button class="mdl-js-ripple-effect mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="position:fixed; bottom:20px; right:20px;">
        <i class="material-icons">toys</i>
      </button

    </div>
  </main>
</div>
<script src="/jquery-2.2.0.min.js"></script>
<script>
  $(document).ready(function () {

    $('.js-list').click(function (event) {
      event.preventDefault();

      var target = $(event.target);

      if(target.is('i')) {
        var userid = location.pathname.split('/')[2];
        var url = '/users/'+userid+'/messages/'+ target[0].dataset.id;
        showLoader('.js-message');
        $.get(url, function (response) {
          $('.js-message')
            .html(processMsgResponse(response));
        });
      }
    });

    $('form').submit(function (event) {
      event.preventDefault();
      var userid = location.pathname.split('/')[2];
      var url = '/users/'+userid+'/messages/';
      var params = $('input').val();

      try {
        params = JSON.parse(params);
      } catch(err) {
        alert('Invalid JSON');
        return;
      }

      showLoader('.js-list');

      $.get(url, params,function (response) {
        $('.js-list')
          .html(processMsgListResponse(response));
      });

    })

    function processMsgResponse(response) {
      return response.body
        .map(function (section) {
          if(section.type === 'text/html')
            return section.content

          return '';
        })
        .join(' ');
    }

    function processMsgListResponse(response) {
      var str = '';
      str += '<ul class="demo-list-three js-list mdl-list">';
      response.forEach(function (message) {
        str += '<li class="mdl-list__item mdl-list__item--three-line">';
        str += '<span class="mdl-list__item-primary-content">'
        str += '<img class="mdl-list__item-avatar" src="'+message.from.avatar+'">'
        str += '<span>'+message.from.name+'</span>';
        str += '<small>'+message.from.email+'</small>';
        str += '<small style="margin-left:5px; font-style:italic">';
        str += message.date +'</small>';
        str += '<span class="mdl-list__item-text-body">';
        str +=  message.subject;
        str +=  '</span></span>';
        str += '<span class="mdl-list__item-secondary-content">'
        str += '<a class="mdl-list__item-secondary-action" href="#">';
        str += '<i class="material-icons" data-id="'+ message.message_id +'">';
        str += 'check_circle</i></a>';
        str += '</span></li>';
      })

      str += '</ul>';
      return str;
    }

    function showLoader(className) {
      var loader = document.createElement('div');
      loader.className = 'mdl-progress mdl-js-progress mdl-progress__indeterminate';
      componentHandler.upgradeElement(loader);
      $(className).html(loader);
    }

  });
</script>